.mainPage {
	font-size: 20px;
	background-color: whitesmoke;
	height: 100vh;
	color: black;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0;
	border: 0;
}

.currentStud {
	background-color: #dbdcda;
	border-radius: 20px;
	box-sizing: border-box;
	height: 80%;
	padding: 20px;
	width: 60%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 20px;
}

.tasklist {
	background-color: #dbdcda;
	border-radius: 20px;
	box-sizing: border-box;
	height: 80%;
	padding: 20px;
	width: 35%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 20px;
}

.title {
	color: #595959;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin-top: 1.5%;
}

.subtitle {
	color: #595959;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
}

.text {
	color: #595959;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
